body {
  font-family: "Comfortaa", cursive;
  background-color: beige;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: blueviolet !important;
  padding: 20px;
  font-weight: 400;
}

.navbar-brand {
  font-size: 25px;
}

.welcome {
  margin: 30px;
}

.about-zenciety {
  margin-top: 30px;
}

.zenciety {
  max-width: 65%;
}

.necklaces {
  /* max-width: 40%;
    margin-left: 120px; */
  float: left;
  width: 50%;
}

.joelle {
  max-width: 50%;
  margin-left: 80px;
}

.ceshele {
  max-width: 50%;
  margin-left: 80px;
}

.owners {
  max-width: 70%;
  margin: 40px 0 0 90px;
}

.providers {
  font-weight: bold;
  font-size: larger;
}

.services {
  outline: 1px solid black;
  padding: 25px;
  margin-bottom: 30px;
}

.disclaimer {
  font-style: italic;
}

.our-vendors {
  max-width: 80%;
}

.vendor-list {
  list-style: none;
}

.store-front {
  max-width: 85%;
}

.hours {
  list-style: none;
  margin: 0;
  padding: 0;
}

.map {
  max-width: 90%;
}

footer {
  background-color: blueviolet;
  font-size: 16px;
  color: white;
  padding: 5px 0;
  margin-top: 40px;
}

footer a {
  color: white;
  font-size: 16px;
  margin: 0 5px;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.55);
}

@media (max-width: 900px) {
  .body {
    text-align: center;
  }

  .important-column {
    /* margin-left: 110px; */
    text-align: center;
    width: 100%;
  }

  .about-owners {
    /* text-align: center; */
    width: 100%;
  }

  .owners-about {
    margin-top: -25px; 
  }

  .testimonials {
    margin-top: 0px !important;
    margin-left: 2px;
  }

  .vendors-about {
    margin-top: -5px !important;
  }

  .ceshele-about {
    margin-top: -75px;
  }

  .store-hours {
    margin-left: -100px;
    text-align: center;
  }

  .last-row {
    margin-left: 2px;
  }

  .location {
    margin-left: 50px;
  }

  .map {
    padding-top: 40px;
    max-width: 130%;
  }
}
